annotated-doc>=
annotated-types>=
anyio>=
bcrypt>=
cffi>=
click>=
et_xmlfile>=
fastapi>=
greenlet>=
h11>=
idna>=
numpy>=
openpyxl>=
pandas>=
passlib>=
psycopg2-binary>=
pycparser>=
pydantic>=
pydantic_core>=
PyJWT>=
python-dateutil>=
six>=
SQLAlchemy>=
starlette>=
typing-inspection>=
typing_extensions>=
uvicorn>=
